/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header img {
  position: relative;
  width: 50px;
  height: 50px;
  left: -420px;
}
#header h6 {
  position: absolute;
  padding-top: 1.5%;
  left: 76px;
}
#header h3,
#header h6 {
  padding-left: 100px;
}
.a {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.a a {
  text-decoration: none;
  color: #110229;
}
.a a:hover {
  color: #1daeff;
}
.btn a {
  margin-right: 30px;
  background-color: transparent;
  border: 2px solid #1daeff;
  color: #1daeff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.btn a:hover {
  background-color: #1daeff;
  color: whitesmoke;
}

/* login section */
.all {
  position: relative;
  margin-top: 80px;
  margin-left: 400px;
}
#loginForm {
  background-color: #ffffff;
  width: 700px;
  height: 450px;
  padding-left: 50px;
  border: 2px solid #007bff;
  border-radius: 30px;
  margin-top: 30px;
  transition: 0.3s;
}
#loginForm:hover {
  transform: translateY(-5px);
  background: #f2f3f5;
}
.login-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 70px;
}
.block1 {
  font-size: 18px;
  color: #110229;
}
.inpo {
  width: 85%;
  height: 45px;
  border-radius: 30px;
  border: 2px solid #007bff;
  padding-left: 20px;
  font-size: 15px;
}
.inpo:hover {
  color: #007bff;
}
.text-center {
  text-align: center;
  margin-top: 30px;
}
.px-8 {
  height: 45px;
  width: 120px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background: #007bff;
  font-size: 16px;
}
.px-8:hover {
  background: white;
  color: #007bff;
  border: 2px solid #007bff;
}
.container h2 {
  position: relative;
  text-align: center;
  color: #1daeff;
  margin-top: 90px;
}

/* footer */
.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
  padding: 0 100px;
}
.footer h3 {
  position: relative;
  left: 16px;
}
.footer h6 {
  position: absolute;
  padding-top: 1.5%;
  left: 140px;
}
.fotr1 p {
  margin-top: 30px;
  color: rgba(143, 144, 166, 1);
}
.copu {
  position: relative;
  color: rgba(143, 144, 166, 1);
  margin-top: 25px;
}
.footer img {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 3px;
}


/*footer*/

.footer {
  margin-top: 80px;
  display: flex;
  margin-bottom: 25px;
}
.footer h3 {
  position: relative;
  left: 116px;
}
.footer h6 {
  position: absolute;
  padding-top: 1.5%;
  left: 240px;
  top: 1076px;
}

.fotr1 p {
  margin-top: 70px;
  color: rgba(143, 144, 166, 1);
}

.fotr1 a {
  margin-left: 30px;
}

.fotr1 a img {
  position: relative;
  width: 31px;
  height: 30px;
  left: -30px;
  margin-top: 50px;
}

.fotr1 a img:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 5px #f4efef;
}

.copu {
  position: relative;
  color: rgba(143, 144, 166, 1);
  margin-top: 55px;
}

.fotr2 {
  position: relative;
  margin-left: 90px;
}

.fotr2 a {
  display: grid;
  grid-template-rows: repeat(5, 10px);
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-top: 15px;
}
.fotr2 a:hover {
  color: #007bff;
}

.fotr3 {
  position: relative;
  margin-left: 98px;
}

.fotr3 a {
  display: grid;
  grid-template-rows: repeat(5, 10px);
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-top: 15px;
}

.fotr3 a:hover {
  color: #007bff;
}


.ftr1 p{
  color: rgba(143, 144, 166, 1);
  font-size: 14px;
  margin-top: 50px;
}

.ftr1 {
  position: relative;
  margin-left: 98px;
  width: 340px; 
}

.ftr1 input {
  width: 70%;
  padding: 15px 50px 15px 20px;
  font-size: 16px;
  border: 2px solid rgba(208, 208, 227, 1);
  border-radius: 50px;
  outline: none;
  margin-top: 40px;
}

.sbscrb {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%); 
  width: 34px;
  height: 34px;
  border: none;
  background: rgba(29, 174, 255, 1);
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  top: 124px;
  margin-top: 76px;
}

.sbscrb:hover {
  background-color: #0e8af3;
}

.footer img{
   position: relative;
  width: 50px;
  height: 50px;
  left: 117px;
  margin-top: 3px;
}
